<h1>Application Details</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4">
                  client_id:  <%= @application.uid %>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4">
                  client_secret:  <%= @application.secret %>
                </td>
            </tr>

            <tr class="">
                <td class="px-6 py-4">
                    Access token: <%= @access_token&.token %>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<%= button_to "Refresh token", users_refresh_token_path, method: :post, data: { turbo_method: :post }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

<%# <%= link_to 'Edit', edit_user_application_path(@application) %> 
<%# <%= link_to 'Back', user_applications_path %> 